<?xml version="1.0" encoding="UTF-8"?>
<ruleset
    xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
    xsi:noNamespaceSchemaLocation="./vendor/squizlabs/php_codesniffer/phpcs.xsd"
>
    <arg name="extensions" value="php" />
    <arg name="report" value="code"/>
    <arg name="colors"/>
    <arg value="ps"/>

    <file>./src</file>
    <file>./tests</file>

    <rule ref="PSR12"></rule>

    <rule ref="Generic.Files.LineLength">
        <properties>
            <property name="lineLimit" value="120"/>
            <property name="absoluteLineLimit" value="0"/>
        </properties>
    </rule>
</ruleset>
